# Ignore specific files
notebook/.env
.env
data/vector_store/

# Ignore entire directories
node_modules/
venv/
.venv/

# Ignore files by file type/extension
*.log
*.sqlite3
*.ipynb_checkpoints/

# Ignore OS metadata files
.DS_Store
Thumbs.db